.button {
  background: $brown-3;
  border: 1px solid $brown-3;
  border-color: $brown-3;
  border-radius: .5em;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  padding: .5rem .75rem;
  text-decoration: none;
  transition: opacity 300ms ease-in-out;
  outline: none !important;

  &:hover {
    background: $brown-3;
    color: #fff;
    opacity: .8;
    text-decoration: none;
    }

  .icon {
    margin-right: .5em;
  }

  &--link {
    border: 0;
  }

  &--inverse {
    background: $brown-3;
    border-color: $brown-3;
    color: #fff;
    transition: opacity 300ms ease-in-out;

    &:hover {
      background: $brown-3;
      color: #fff;
      opacity: .8;
    }
  }

  &--fluid {
    width: 100%;
  }

  &--like {
    .icon {
      color: $brown-2;
    }
  }

  &--liked {
    background: red;
    border-color: red;
    color: #fff;

    .icon {
      color: #fff;
    }

    &:hover {
      border-color: red;
      color: #fff;
      opacity: .8;
    }
  }

  &:active {
    box-shadow: inset 1px 1px 2px $brown-3, inset -1px -1px 2px white;
  }
}
